data/
./data/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]s
*$py.class

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage reports
htmlcov/
.coverage
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/

# PyInstaller
dist/
build/
*.spec

# Jupyter runtime
*.nbconvert.ipynb
